* {
  box-sizing: border-box;
}

:root {
 --green-color: #478559;
 --purple-color: #161748;
 --pink-color: #f95d9b;
 --blue-color: #39a0ca;
}

body, html {
 width: 100%;
 height: 100%;
 background-color: var(--blue-color);
 margin: 0;
 padding: 0;
 font-family: sans-serif;
}

.icons {
  font-size: 48px;
  margin: 20px;
  color: var(--green-color);
}

header {
  display: flex;
  justify-content: space-between;
  background-color: var(--pink-color);
  color: var(--purple-color);
  font-size: 32px;
  padding: 0 1%;
}

.mynav-bar {
  display: inline-block;
  margin: 20px 0;
}

.nav-bar {
  display: inline;
  margin: 10px;
}

.nav-bar span:hover {
  color: var(--green-color);
}

.nav-row {
  display: inline;
  float: right;
} 

.navActive {
  color: var(--green-color);
}

.about {
  margin: 10px;
  position: relative;
  min-height: 100vh;
}

.about h3 {
  font-size: 32px;
  color: whitesmoke)
}

.about-text {
  display: flex;
  color: var(--purple-color);
  font-size: 24px;
}
.contact-section {
  position: relative;
  min-height: 100vh;
}

.contact-section h1 {
  color:whitesmoke;
  font-size: 32px;
}

label {
  display: inline-block;
  width: 100%;
  font-size: 18px;
  text-align: left;
  margin: 0 5px;
}

#button {
  display: inline;
  width: 100px;
  font-size: 14px;
  margin: 0 5px;
}

.contact-section input, textarea {
  width: 300px;
  margin: 5px 5px;
}

.contact-section a {
  color: whitesmoke;
  text-decoration: none;
}

.contact-section a:hover {
  color: var(--pink-color);
  text-decoration: none;
}

.error-text {
  margin: 5px;
}

.images-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  grid-gap: 10px;
  justify-items: center;
  margin: 0 10px;
  position: relative;
  min-height: 80vh;

}

.images {
  width: 350px;
  display: block;
}

.images-grid a {
  text-decoration: none;
  color: white;
}

.images-grid button {
  width: 175px;
  background-color: var(--purple-color);
  color: white;
}

.images-grid button:hover {
  width: 175px;
  background-color: var(--pink-color);
  color: var(--purple-color);
}


.project-list {
  position: relative;
  display: inline-block;
}

.project-list .text {
  margin: 0 auto;
  left: 0;
  top: 0; 
  text-align: center;
  background-color: var(--green-color);
  color:white;
  font-size: 24px;
  width: 350px;
}
.prof {
  margin: 0 10px;
  position: relative;
  min-height: 100vh;
}

.resume {
  font-size: 18px;
  width: 175px;
  height: 50px;
  text-align: center;
  background-color: var(--purple-color);
  color: var(--pink-color);
}


.resume:hover {
  font-size: 18px;
  width: 175px;
  height: 50px;
  text-align: center;
  background-color: var(--pink-color);
  color: var(--purple-color);
}


.frontEnd-list {
  font-size: 22px;
}

footer {
  display: flex;
  position: sticky;
  bottom: 0;
  justify-content: center;
  width: 100%;
  background-color: var(--purple-color);
  
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media only screen and (max-width: 1024px) {
  header h1 {
    height: 10px;
}

  header {
    /* display: grid; */
    height: 200px;
    text-align: center;
    font-size: 24px;
  }

  .images-grid {
    display: grid;
    grid-template-columns:  auto auto;
    padding: 10px;
    grid-gap: 10px;
}

  .project-list {
    margin: 0 0 0 10px;
  }

  footer {
    position: absolute;
  }
}

/* MEDIA QUERY FOR IPAD */
@media only screen and (max-width: 768px) {
  .images-grid {
      display: grid;
      grid-template-columns:  auto auto;
      padding: 10px;
      grid-gap: 10px;
  }

  footer {
    bottom: 0;
    position: sticky;
  }

}

/*  MEDIA QUERY FOR MOBILE PHONES */
@media only screen and (max-width: 540px) {
  header {
    display: grid;
    justify-content: center;
    height: 175px;
  }

  .nav-row {
    display: inline-flex;
    font-size: 20px;
    margin-top: 0;
    margin-left: 0;
    padding-left: 0;
  }

  .nav-bar {
    display: block;
    text-align: left;
  }

  .images-grid {
    display: grid;
    grid-template-columns: auto;
    padding: 10px;
    grid-gap: 10px;
}

  .project-list {
    position: relative;
    display: inline-block;
    margin: 0;
  }

  .project-list .text {
    width: 300px;
  }

  .images {
    width: 300px;
  }

  .images-grid button {
    width: 150px;
  }

  .contact-section {
    height: 600px;
  }

  footer {
    position: sticky;
    bottom: 0;  
  }
}


/*  MEDIA QUERY FOR MOBILE PHONES */
@media only screen and (max-width: 425px) {
  header {
    display: grid;
    text-align: center;
    font-size: 16px;
    height: 175px;
  }

  .nav-row {
    display: inline-flex;
    font-size: 20px;
    margin-top: 0;
    margin-left: 0;
    padding-left: 0;
  }

  .nav-bar {
    display: block;
    text-align: left;
  }

  .images-grid {
    display: grid;
    grid-template-columns: auto;
    padding: 10px;
    grid-gap: 10px;
  }

  .project-list {
    position: relative;
    display: inline-block;
    margin: 0;
  }

  .project-list .text {
    width: 300px;
  }

  .images {
    width: 300px;
  }

  .images-grid button {
    width: 150px;
  }

  .contact-section {
    height: 600px;
  }

  footer {
    position: sticky;
    bottom: 0;  
  }
}

/*  MEDIA QUERY FOR MOBILE PHONES */
@media only screen and (max-width: 376px) {
  .nav-row {
    display: inline-flex;
    font-size: 18px;
  }
}

/*  MEDIA QUERY FOR MOBILE PHONES */
@media only screen and (max-width: 360px) {
  .nav-row {
    display: inline-flex;
    font-size: 16px;
    margin-top: 0;
    margin-left: 0;
    padding-left: 0;
  }

  .contact-section a {
    font-size: 22px;
  }

}

/*  MEDIA QUERY FOR MOBILE PHONES */
@media only screen and (max-width: 320px) {
  .nav-row {
    display: inline-flex;
    font-size: 14px;
  }

  .contact-section h2 a {
    font-size: 18px;
  }
}

/*  MEDIA QUERY FOR MOBILE PHONES */
@media only screen and (max-width: 280px) {
  header {
    font-size: 22px;
  }
  
  .nav-row {
    display: inline-flex;
    font-size: 12px;
  }

  .images-grid {
    display: grid;
    grid-template-columns: auto;
    padding: 1px;
    grid-gap: 1px;
  }

  .contact-section h2 {
    font-size: 18px;
  }

  .contact-section h2 a {
    font-size: 18px;
  }
}